---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>

{{ content | safe }}

<ul class="siblings">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li class="siblings__item siblings__item_next">
      <a href="{{ nextPost.url | url }}">
        Свежее<br>
        <b>{{ nextPost.data.title }}</b>
      </a>
    </li>
  {% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li class="siblings__item siblings__item_prev">
      <a href="{{ previousPost.url | url }}">
        Старее<br>
        <b>{{ previousPost.data.title }}</b>
      </a>
    </li>
  {% endif %}
</ul>
